/Algorithms 482 3 Strings/JavaApplication4/nbproject/private/
/Algorithms 482 3 Strings/nbproject/private/
/Algorithms 482 3 Strings/build/
/Project3/nbproject/private/
/Project3/build/
/Algorithms 482 2-SAT/Project3/nbproject/private/
/Algorithms 482 2-SAT/Project3/build/
/Algorithms 482 2-SAT/JavaApplication8/nbproject/private/
/Algorithms 482 2-SAT/JavaApplication8/build/